.body{
    height: 2000px;
    margin: 0;
}
.header{
    text-decoration: none;
    color: white;
    position: fixed;
    background-color: #000000;
    display: block;
    margin-top: -10px;   
    margin-left: -8px;
    opacity: 70%;
    width: 100%;
    height: 70px;
    z-index: 5;
}
#logo{
    width: 7%;
    height: 7%;
    cursor: pointer;
    margin-left: 150px;
}
a{
    cursor: pointer;
    color: white;
    text-decoration: none;  
}
#ul{
    position: fixed;
    top: -5px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 250px;
    margin-top: -80px;
    font-size: 20px;
    font-family: "Nissan Regular", Verdana, Arial, sans-serif;
    list-style-type: none;
    width: 45%;
    height: 25%;
    align-items: center;
}

.join{
        margin-left: 1750px;
    }

#himg {
    margin-top: -10px;
    margin-left: -10px;
    width: 1905px;
    height: 950px;
}
h1{
font-size: 60px;
font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
text-align: center;
margin-top: -800px;
color: white;
opacity: 80%;
}
#blink1 {
  -webkit-animation: blink1 3s linear infinite;
  animation: blink1 3s linear infinite;
}
@-webkit-keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
@keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}

h2{
font-size: 40px;
font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
text-align: center;
margin-top: -30px;
color: white;
opacity: 80%;
}
#h3{
    font-size: 50px;
    color: white;
    z-index: 99;
    margin-top: 750px;
}
#h4{
    font-size: 22px;
    width: 500px;
    text-align: left;
    margin-left: 1000px;
    margin-top: 50px;
}
#h5{
    margin-top: 100px;
}
.zogovolok2{
    margin-top: -1250px;
}
.zogovolok3{
    display: block;
    width: 200px;
}

.btn-nas{
    margin-left: 1400px;
    margin-top: -30px;
    cursor: pointer;
}
p{
    color: white;
}
#o-nas{
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 750px;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 10px 1px white;
}
.btn{
    margin-top: 20px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 30px 9px 30px;
    color: black;
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-top:  25px;
    margin-left: -50px;
}
#map1{
    margin-top: 300px;
    margin-left: -1010px;
}
.rtn{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 30px 9px 30px;
    color: black;
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

.rtnn{
    margin-left: 1460px;
    margin-top: -60px;
   
}

.ftn {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 30px 9px 30px;
    color: black;
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-top:  0px;
    margin-left: -150px;
}

.dtn{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 30px 9px 30px;
    color: black;
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-top:  0px;
}

.ftnn{
    margin-left: 1400px;
    margin-top: -40px;
}

.btnn{
    margin-left: 1600px;
    margin-top: -90px;
}

.vhod{
    position: absolute;
    top: 0px;
    left: -5px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
    opacity: 0;
}

.vhod-content{
    background-color: white;
    height: 420px;
    width: 500px;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 95%;
}
.zakaz{
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
    opacity: 0;
    left: -5px;
}

.zakaz-content{
    background-color: white;
    height: 550px;
    width: 500px;
    display: block;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 95%;
}

.regist{
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 2;
    opacity: 0;
    left: -5px;
}

.regist-content{
    background-color: white;
    height: 570px;
    width: 500px;
    position: fixed;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    opacity: 95%;
}

input{
    display: block;
    margin: 20px auto; 
    width: 50%;
    padding: 8px;
}

.zakryt{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    border: 1px solid grey;
    cursor: pointer;
}

#p_vhod{
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

#p1_vhod{
    font-family: "Nissan Light","Nissan Regular",Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    color: black;
}

.user_profile{
    position: absolute;
    top: 100px;
    right: 30px;
    margin: 0;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 5px;
    z-index: 1;
    display: none;
}

#profile_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline;
}

#user_name{
    margin: 0;
    padding: 10px;
    display: inline;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#lab1{
    display:flex;
    margin-top: -35px;
    margin-left: 135px;
    color: black;
}
.nav{
    float: left;
    position: fixed;
    z-index: 9;
}
label{
    margin: 8px 0 0 20px;
    font-size: 30px;
    display: none;
    color: white;
    cursor: pointer;
}
#toggle{
    display:none;
    z-index: 9;
}
@media (min-width: 375px) and (max-width: 560px){
label{
    display: block;
    cursor: pointer;
    color: white;
    z-index: 9;
}
.header{
    z-index: 8;
}
#ul{
    display: none;
    z-index: 8;
}
#logo{
    display: flex;
    width: 20%;
    margin-left: 450px;
    margin-top: 14px;
}
#himg{
    display: block;
    width: 550px;
    margin-top: -10px;
}
h1{
   margin-left: 0px;
   margin-top: -720px;
   font-size: 40px;
}
h2{
    flex-direction: column;
    margin-left: 0px;
    font-size: 20px;
}
#toggle:checked + .header #ul{
    position: inherit;
    display: block;
    width: 500px;
    height: 120px;
    padding-top: 0px;
    font-size: 20px;
    margin-left: -10px;
    background-color: #000000;
    color: black;

}

.shapka{
    display: block;
    padding-top: 60px;
}

#o-nas{
    margin-left: 0;
    width: 100%;
}

#h4{
    margin-top: 500px;
    margin-left: 20px;
}
.btn-nas{
    display: block;
    margin-left: 350px;
}
#map1{
    width: 160%;
}
}

@media (min-width: 993px) and (max-width: 1280px){
#logo{
    display: flex;
    width: 10%;
    margin: 0 0;
}
#ul{
    position: fixed;
    top: 0;
    font-size: 20px;
    margin-left: 100px;
}
.shapka{
    display: block;
    padding-top: 0px;
}
#himg{
    width: 100%;
}
h1{
   margin-left: 0px;
   margin-top: -820px;
   font-size: 60px;
}
h2{
    flex-direction: column;
    margin-left: 50px;
    font-size: 50px;
    width: 90%;
    text-align: center; 
}
.ftnn{
    margin-left: 900px;
}

.btnn{
    margin-top: -80px;
    margin-left: 1050px;
}
#o-nas{
    margin-left: 650px;
    width: 45%;
}

#h4{
    margin-top: 0px;
    margin-left: 20px;
}
.btn-nas{
    display: block;
    margin-left: 350px;
}
#map1{
    width: 154.3%;
}
}

@media (min-width: 561px) and (max-width: 992px){
label{
    display: block;
    cursor: pointer;
    color: grey;
}
#ul{
    display: none;
}
#logo{
    display: none;
}
.shapka{
    display: block;
    padding-top: 60px;
}
#himg{
    width: 992px;
}
h1{
   margin-left: 0px;
   margin-top: -720px;
   font-size: 50px;
}
h2{
    flex-direction: column;
    margin-left: 0px;
    font-size: 25px;
}
.ftnn{
    display: block;
    margin-top: -40px;
    margin-left: 300px;
    cursor: pointer;
}
.btnn{
    display: block;
    margin-top: -110px;
    margin-left: 750px;
    cursor: pointer;
}
#toggle:checked + .header #ul{
    position: inherit;
    display: block;
    width: 1000px;
    height: 120px;
    padding-top: 0px;
    font-size: 20px;
    margin-left: -10px;
    background-color: #000000;
    color: black;

}

.shapka{
    display: block;
    padding-top: 100px;
}

#o-nas{
    width: 80%;
    margin-left: 100px;
}
#h4{
    margin-top: 500px;
    margin-left: 100px;
    width: 80%;
}
.btn-nas{
    display: block;
    margin-top: -25px;
    margin-left: 750px;
}
#map1{
    width: 155%;
    margin-bottom: 0;

}
}